{% extends 'base.html' %}
{% block content %}
    <!-- <h1 class="about-title" style="text-align: center;">About Us</h1> -->
<div class="about-text">
    <h1 class="about-title" style="text-align: center;">About Us</h1>
    <h2>
        Guns Express Trade is not only about the trade in civilian firearms, it is primarily about the cultural development of gunsmithing.<br>
        On this trading platform, you can purchase any legally registered firearm, ammunition, equipment, and ammunition in the United States.<br>
        The goal of Guns Express Trade (GET) is to meet the needs of our users, provide the necessary conditions for convenient and transparent business introduction and become an online leader in the world of trade in military and defense products, civilian self-defense and firearms sports.<br>
        At the same time, if you have the right to sell firearms or other military paraphernalia according to all regulations, you are immediately allowed to start trading products in the military industry and civilian self-defense using the Guns Express Trade e-commerce platform.<br>
        Guns Express Trade (GET) is not responsible for the placement of goods on the site, while it is used by third parties. Guns Express Trade wishes everyone to ensure that the guns purchased on this website will never be able to cause bodily or moral harm to anyone. Sincerely, Guns Express Trade. God Bless America!
    </h2>
</div>
{% endblock %}

<!-- <h2>Мета проекту Guns Express Trade (GET) полягає в тому, аби задовольнити потреби наших користувачів, надати необхідні умови для зручного та прозорого введення бізнесу і стати інтернет-лідером у світі торгівлі продукції військово-оборонного призначення, цивільного самозахисту та збройового спорту.</h2> -->
<!-- <h2>Разом з цим, якщо згідно усіх нормативно-правових актів у Вас є право для введення торгівельної діяльності із залученням вогнепальної зброї</h2> -->
<!-- <h2>Разом з цим, якщо згідно усіх нормативно-правових актів, Ви маєте право на продаж вогнепальної зброї чи іншої військової атрибутики, то одразу Ви допускаєтесь для введення торгівельної діяльності у галузі військової промисловості та цивільної самооборони використовуючи e-commerce платформу Guns Express Trade.</h2> -->